<main class="register-container">
  <form [formGroup]="resetForm" (ngSubmit)="reset()">
    <div class="form__group">
      <label for="email">Email Address</label>
      <input
        [formControlName]="'email'"
        id="email"
        type="email"
        autofocus
        autocomplete="email"
      />
    </div>
    <div class="form__group">
      <label for="username">Username</label>
      <input
        [formControlName]="'username'"
        id="username"
        type="text"
        maxlength="20"
        autocomplete="username"
      />
    </div>

    <div class="form__error" *ngIf="isError">
      Reset Failed. Please check your credentials and try again.
    </div>

    <div class="form__group">
      <button type="submit" [disabled]="!this.resetForm.valid" [className]="this.resetForm.valid ? 'enabled' : 'disabled'">
        Reset Password
      </button>
    </div>
  </form>
</main>
