<main class="register-container">
  <form [formGroup]="updateForm" (ngSubmit)="updatePassword()">
    <div class="form__group">
      <label for="password">Password</label>
      <input
        [formControlName]="'password'"
        id="password"
        type="password"
        maxlength="20"
        autocomplete="current-password"
      />
      <span
        *ngIf="
          !updateForm.get('password')?.valid &&
          updateForm.get('password')?.touched
        "
        >Please provide a valid password</span
      >
    </div>

    <div
      class="form__group"
      [class.passwords_match]="passwordsMatch"
      [class.passwords_no_match]="!passwordsMatch"
    >
      <label for="confirmPassword">Confirm Password</label>
      <input
        (input)="checkPasswords()"
        #confirmPassword
        type="password"
        maxlength="20"
        autocomplete="current-password"
      />
      <span *ngIf="!passwordsMatch"> Passwords Do Not Match </span>
    </div>

    <div class="form__group">
      <button type="submit" [disabled]="!passwordsMatch" [className]="passwordsMatch ? 'enabled' : 'disabled'">
        Update Password
      </button>
    </div>
  </form>
</main>
